body {
  background-image: url(https://www.boatus.com/-/media/expert-advice-archive/2018/april/cirrus-clouds.ashx?la=en&hash=18F09F936A226DB2B995A59A674B57AA);
  background-size: 200%;
  background-repeat: no-repeat;
  color: white;
  font-family: "Merienda", cursive;
}

.search-form {
  margin: 30px auto 0px;
  background-color: rgba(0, 0, 0, 0.3);
  max-width: 600px;
  height: 100px;
  border-radius: 10px;
}
header {
  margin: 0px;
  padding: 0px;
}
.search-city {
  margin: 25px 20px;
  font-size: 16px;
  border: none;
  height: 45px;
  width: 420px;
  border-radius: 8px;
  font-family: "Merienda", cursive;
}
.search-button {
  font-size: 16px;
  height: 45px;
  width: 100px;
  border: none;

  border-radius: 8px;
  font-family: "Merienda", cursive;
}
.city-name {
  text-align: center;
  font-size: 60px;
  font-weight: bolder;
  margin: 0px;
  position: relative;
  right: 100px;
  top: 30px;
}
.icon {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  position: relative;
  top: -120px;
  left: 90px;
}

main {
  display: block;
  margin: 0px auto;
  background-color: rgba(0, 0, 0, 0.3);
  max-width: 600px;
  border-radius: 10px;
  position: relative;
  top: -150px;
  padding: 10px 15px 0px 15px;
}
.first-section {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  border-bottom: 1px solid rgb(255, 255, 255, 0.3);
}

.second-section {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}
.temp-unit {
  display: flex;
  justify-content: center;
}
.temperature {
  font-size: 80px;
}
.unit {
  font-size: 20px;
  position: relative;
  left: 12px;
  top: 18px;
}

.country {
  font-size: 30px;
  text-align: center;
  padding-bottom: 15px;
  border-bottom: 1px solid rgb(255, 255, 255, 0.3);
}
section {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
}
.humidity {
}
footer {
  text-align: center;
  font-size: 13px;
  position: relative;
  top: -150px;
}
.contact-me {
  color: black;
}
