body {
  background-image: url(https://www.boatus.com/-/media/expert-advice-archive/2018/april/cirrus-clouds.ashx?la=en&hash=18F09F936A226DB2B995A59A674B57AA);
  background-size: 200%;
  background-repeat: no-repeat;
  color: white;
}

.search-form {
  display: block;
  margin: 30px auto 15px;
  background-color: rgba(0, 0, 0, 0.3);
  max-width: 600px;
  padding: 20px 50px;
  border-radius: 10px;
}

.search-city {
  font-size: 16px;
  border: none;
  padding: 14px;
  padding-right: 250px;
  border-radius: 8px;
}
.search-button {
  font-size: 16px;
  margin-left: 20px;
  border: none;
  padding: 14px 25px;
  border-radius: 8px;
}
.city-name {
  text-align: center;
  font-size: 70px;
  font-weight: bolder;
  margin: 0px;
}
span.icon {
  font-size: 150px;
  display: flex;
  justify-content: center;
  position: relative;
  top: -35px;
}

main {
  display: block;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.3);
  max-width: 700px;
  border-radius: 10px;
  position: relative;
  top: -125px;
}

.temprature {
  font-size: 45px;
  padding-left: 10px;
}
.unit {
  font-size: 20px;
  position: relative;
  top: -20px;
}
.look {
  font-size: 39px;
  position: relative;
  left: 385px;
}
.day {
  font-size: 20px;
  text-align: left;
  padding-left: 10px;
  padding-top: 10px;
}
.date {
  font-size: 20px;
  left: 280px;
  position: relative;
  top: -25px;
  padding-right: 10px;
}

.time {
  font-size: 70px;
  text-align: center;

  border-top: 1px solid rgb(255, 255, 255, 0.3);
}
.country {
  font-size: 30px;
  text-align: center;
  padding-bottom: 15px;
  border-bottom: 1px solid rgb(255, 255, 255, 0.3);
}
section {
  padding: 10px 10px;
  font-size: 20px;
}
.wind {
  position: relative;
  left: 440px;
}
footer {
  display: flex;
  justify-content: center;
  position: relative;
  top: -95px;
}
