body {
  background-image: url(https://www.boatus.com/-/media/expert-advice-archive/2018/april/cirrus-clouds.ashx?la=en&hash=18F09F936A226DB2B995A59A674B57AA);
  background-size: 200%;
  background-repeat: no-repeat;
  color: white;
  font-family: "Merienda", cursive;
}

.search-form {
  display: block;
  margin: 30px auto 5px;
  background-color: rgba(0, 0, 0, 0.3);
  max-width: 600px;
  padding: 17px 50px;
  border-radius: 10px;
}

.search-city {
  font-size: 16px;
  border: none;
  padding: 12px;
  padding-right: 250px;
  border-radius: 8px;
  font-family: "Merienda", cursive;
}
.search-button {
  font-size: 16px;
  margin-left: 20px;
  border: none;
  padding: 12px 25px;
  border-radius: 8px;
  font-family: "Merienda", cursive;
}
.city-name {
  text-align: center;
  font-size: 60px;
  font-weight: bolder;
  margin: 0px;
}
span.icon {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  position: relative;
  top: -20px;
}

main {
  display: block;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.3);
  max-width: 700px;
  border-radius: 10px;
  position: relative;
  top: -120px;
}
.temperature-detail {
  margin-bottom: 10px;
  margin-top: 10px;
}
.condition {
  font-size: 25px;
  padding-left: 15px;
}
.temprature {
  font-size: 30px;
  position: relative;
  left: 468px;
}
.unit {
  font-size: 16px;
  position: relative;
  top: -10px;
  left: 468px;
}
.date-detail {
  padding-left: 15px;
  padding-right: 15px;
  border-top: 1px solid rgb(255, 255, 255, 0.3);
}

.day {
  font-size: 16px;
  display: flex;
  justify-content: left;
  position: relative;
  top: 15px;
}
.date {
  font-size: 16px;
  display: flex;
  justify-content: right;
  position: relative;
  top: -10px;
}

.time {
  font-size: 70px;
  display: flex;
  justify-content: center;
}

.country {
  font-size: 28px;
  text-align: center;
  padding-bottom: 15px;
  border-bottom: 1px solid rgb(255, 255, 255, 0.3);
}
section {
  padding: 15px 15px;
  font-size: 17px;
}
.humidity {
  position: relative;
  left: 370px;
}
footer {
  font-size: 13px;
  display: flex;
  justify-content: center;
  position: relative;
  top: -105px;
}
